{% extends 'menu-layout.html.twig' %}

{% block title %}Student Dashboard{% endblock %}

{% block contents %}
    <div class='vstack gap-1'>
        <div class="col card">
            <div class='p-2'>
                <table class='table table-sm table-striped m-0'> 
                    <tr>
                        <th class='col-2 border-end border-bottom-0'>Student Name</td>
                        <td class='h4 border-bottom-0'>{{ student.name ~ ' ' ~ student.surname }}</td>
                    </tr>
                    <tr>
                        <th class='border-end border-bottom-0'>Email</td>
                        <td class='border-bottom-0'>{{ student.email }}</td>
                    </tr>
                    <tr>
                        <th class='border-end border-bottom-0'>Intake</td>
                        <td class='border-bottom-0'>{{ student.getIntake().name }}</td>
                    </tr>  
                    <tr>
                        <th class='border-end border-bottom-0'>Course</td>
                        <td class='border-bottom-0'>{{ student.getIntake().getCourse().name }}</td>
                    </tr>  
                    <tr>
                        <th class='border-end border-bottom-0'>Institution</td>
                        <td class='border-bottom-0'>{{ student.getIntake().getCourse().getInstitution().name }}</td>
                    </tr>                
                </table>
        </div>
        </div>
        <div class="container-fluid" >
            <div class='border row rounded' style="height:380px">
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>

{% endblock %}


