{% extends 'menu-layout.html.twig' %}

{% block title %}Courses{% endblock %}

{% block actions %}
    <div class='hstack gap-2'>
        <input type='text' class='input-group-sm' placeholder='Search' />
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_course_new') }}">
            Create New
        </a>
    </div>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Institution</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr onclick="showData({{ course.id }}, 'course')">
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.duration ? course.durationFormatted : '' }}</td>
                <td>{{ course.institution.name }}</td>
                <td>
                    <a href="{{ path('admin_course_edit', {'id': course.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
