{% extends 'menu-layout.html.twig' %}

{% block title %}Courses{% endblock %}

{% block search %}
{% include 'search.html.twig' %}
{% endblock %}

{% block actions %}
    <div class='hstack gap-2'>
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_course_new') }}">
            Create New
        </a>
    </div>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>{{ knp_pagination_sortable(courses, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(courses, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(courses, 'Duration', 'duration') }}</th>
                <th>{{ knp_pagination_sortable(courses, 'Institution', 'institution') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr ondblclick="showData({{ course.id }}, 'course')" class="app-pointer">
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.duration|duration }}</td>
                <td>{{ course.institution }}</td>
                <td>
                    <a href="{{ path('admin_course_edit', {'id': course.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(courses) }}
    </div>

{% endblock %}
