{% extends 'menu-layout.html.twig' %}

{% block title %}Course Information{% endblock %}

{% block contents %}

    <table class="table">
        <tbody>
            <tr>
                <th class='bg-light col-2'>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th class='bg-light col-2'>Name</th>
                <td class='h4' >{{ course.name }}</td>
            </tr>
            <tr>
                <th class='bg-light'>Institution</th>
                <td> <a class='text-decoration-none' href="{{ path('admin_institution_show', {id: course.institution.id}) }}"
                    >{{ course.institution.name }}</a></td>
            </tr>
            <tr>
                <th class='bg-light'>Duration</th>
                <td> {{ course.duration|duration }}</td>
            </tr>
            <tr>
                <th class='bg-light'>Subjects</th>
                <td> 
                    {% if course.getSubjects() is not empty %}
                        {% for subject in course.getSubjects() %}
                            <li>{{ subject.code ~ ' ' ~ subject.name }}</li>
                        {% endfor %}
                    {% else %}
                        <p class='m-0'>No subjects available for this course.</p>
                    {% endif %}
                </td>

            </tr>
        </tbody>
    </table>

    <div class='hstack mb-2 bg-light p-2 border rounded shadow-sm'>
        <div class="col h5 m-0" >Intakes</div>
        <div class="d-flex justify-content-right">
            <a class="btn btn-sm btn-info" 
                href="{{ path('admin_intake_new', {courseId: course.id} ) }}"
                >New Intake
            </a>
        </div>
    </div>

    {% if course.getIntakes() is not empty %}
        <table class="table table-sm">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">Finish</th>
                    <th scope="col">Students</th>
                </tr>
            </thead>
            <tbody>
                {% for intake in course.getIntakes() %}
                <tr>
                    <td><a class="text-decoration-none" href="{{ path('admin_intake_show', {id: intake.id}) }}">{{ intake.name }}</a></td>
                    <td>{{ intake.start ? intake.start|date('Y-m-d') : '' }}</td>
                    <td>{{ intake.finish ? intake.finish|date('Y-m-d') : '' }}</td>
                    <td>{{ intake.getStudents().count([]) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No intakes available for this course.</p>
    {% endif %}

{% endblock %}


{% block actions %}
            <a class="btn custom-btn btn-sm btn-outline-dark"
                    href="{{ path('admin_course_index') }}">Back
            </a>
            <a class="btn custom-btn btn-sm btn-outline-dark"
                href="{{ path('admin_course_edit', {'id': course.id}) }}">Edit
            </a>
    {{ include('admin/course/_delete_form.html.twig') }}
{% endblock %}
