{% extends 'menu-layout.html.twig' %}

{% block title %}
    {{ periodId > 0 ? 'Subjects for "' ~ periodName ~ '"' : 'Subjects for a period' }}
{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark"
        href="{{ periodId > 0
        ? path('admin_period_to_subject_new', {'periodId': periodId})
        : path('admin_period_to_subject_new') }}">Add
    </a>
{% endblock %}

{% block contents %}

    <table class="table table-responsive table-sm table-hover">
        <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>TotalNumberOfLessons</th>
            <th>Subject</th>
            {% if not periodId %}
                <th>Period</th>
                <th>Intake</th>
                <th>Course</th>
            {% endif %}

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for period_to_subject in period_to_subjects %}
            <tr onclick="showData({{ period_to_subject.id }}, 'period_to_subject')">
                <td>{{ period_to_subject.id }}</td>
                <td>{{ period_to_subject.totalNumberOfLessons }}</td>
                <td>{{ period_to_subject.subject.name }}</td>
                {% if not periodId %}
                    <td>
                        <a href="{{ path('admin_period_show', {'id': period_to_subject.period.id}) }}"
                        >{{ period_to_subject.period.name }}</a>
                    </td>
                    <td>{{ period_to_subject.period.intake.name }}</td>
                    <td>{{ period_to_subject.period.intake.course.name }}</td>
                {% endif %}

                <td>
                    <a href="{{ periodId > 0
                    ? path('admin_period_to_subject_edit', {'id': period_to_subject.id, 'periodId': periodId})
                    : path('admin_period_to_subject_edit', {'id': period_to_subject.id}) }}">
                    <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
