{% extends 'menu-layout.html.twig' %}

{% block title %}Intakes{% endblock %}
{% block search %}
    {% include 'search.html.twig' %}
{% endblock %}
{% block actions %}
    <div class='hstack gap-2'>
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_intake_new') }}">Create New</a>
    </div>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>{{ knp_pagination_sortable(intakes, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(intakes, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(intakes, 'Start', 'start') }}</th>
                <th>{{ knp_pagination_sortable(intakes, 'Finish', 'finish') }}</th>
                <th>{{ knp_pagination_sortable(intakes, 'Course', 'course') }}</th>
                <th>{{ knp_pagination_sortable(intakes, 'Institution', 'institution') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intake in intakes %}
            <tr onclick="showData({{ intake.id }}, 'intake')" >
                <td>{{ intake.id }}</td>
                <td>{{ intake.name }}</td>
                <td>{{ intake.start ? intake.start|date('Y-m-d') : '' }}</td>
                <td>{{ intake.finish ? intake.finish|date('Y-m-d') : '' }}</td>
                <td>{{ intake.course }}</td>
                <td>{{ intake.institution }}</td>
                <td>
                    <a href="{{ path('admin_intake_edit', {'id': intake.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
