{% extends 'menu-layout.html.twig' %}

{% block title %}
    My Subjects
{% endblock %}

{% block actions %}
    <div class='hstack gap-2'>
        <input type='text' class='input-group-sm' placeholder='Search'/>
    </div>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Subject</th>
            <th>Intake</th>
            <th>Course</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher_to_subject_to_intake in teacher_to_subject_to_intakes %}
            <tr>
                <td>{{ teacher_to_subject_to_intake.id }}</td>
                <td>{{ teacher_to_subject_to_intake.subject.name }}</td>
                <td>{{ teacher_to_subject_to_intake.intake.name }}</td>
                <td>{{ teacher_to_subject_to_intake.intake.course.name }}</td>
                <td>{{ teacher_to_subject_to_intake.start ? teacher_to_subject_to_intake.start|date('Y-m-d') : '' }}</td>
                <td>{{ teacher_to_subject_to_intake.finish ? teacher_to_subject_to_intake.finish|date('Y-m-d') : '' }}</td>
                <td>
                    {% set attendanceData = attendanceDataForms[teacher_to_subject_to_intake.id] %}
                    {% if attendanceData %}
                        {% form_theme attendanceData 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(attendanceData,{action: path('teacher_attendance_index'), attr:{class:''}}) }}

                        {{ form_widget(attendanceData,{ attr:{class:'hide'}}) }}
                        <button class="btn btn-sm btn-outline-success ">Mark</button>

                        {{ form_end(attendanceData) }}
                    {% endif %}

                    <a href="{{ path('teacher_attendance_percentage', {'intakeId': teacher_to_subject_to_intake.intake.id}) }}">
                        <i data-feather="percent"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
