{% extends 'menu-layout.html.twig' %}

{% block title %}Subject assigned to Teacher{% endblock %}

{% block contents %}

    <table class="table">
        <tbody>
        <tr>
            <th class='bg-light col-2'>Id</th>
            <td>{{ teacher_to_subject_to_intake.id }}</td>
        </tr>
        <tr>
            <th class='bg-light'>Course</th>
            <td>
                {{ teacher_to_subject_to_intake.subject.course.name }}
            </td>
        </tr>
        <tr>
            <th class='bg-light'>Subject</th>
            <td>
                {{ teacher_to_subject_to_intake.subject.name }}
            </td>
        </tr>
        <tr>
            <th class='bg-light'>Intake</th>
            <td>
                {{ teacher_to_subject_to_intake.intake.name }}
            </td>
        </tr>
        <tr>
        <th class='bg-light'>Teacher</th>
            <td>
                {{ teacher_to_subject_to_intake.teacher.name ~ ' ' ~ teacher_to_subject_to_intake.teacher.surname }}
            </td>
        </tr>
        <tr>
            <th class='bg-light'>Start</th>
            <td>{{ teacher_to_subject_to_intake.start ? teacher_to_subject_to_intake.start|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th class='bg-light'>Finish</th>
            <td>{{ teacher_to_subject_to_intake.finish ? teacher_to_subject_to_intake.finish|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
