{% extends 'menu-layout.html.twig' %}

{% block title %}Periods{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_period_new') }}">Create New</a>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Name</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Intake</th>
            <th>Course</th>
            <th>Subjects</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr onclick="showData({{ period.id }}, 'period')">
                <td>{{ period.id }}</td>
                <td>{{ period.name }}</td>
                <td>{{ period.start ? period.start|date('Y-m-d') : '' }}</td>
                <td>{{ period.finish ? period.finish|date('Y-m-d') : '' }}</td>
                <td>{{ period.intake.name }}</td>
                <td>{{ period.intake.course.name }}</td>
                <td>
                    <a  class="icon-link" href="{{ path('admin_period_to_subject_index', {'periodId': period.id}) }}">
                        <i data-feather="file-plus"></i>
                        <span class="badge badge-pill text-bg-primary ">{{ period.subjectsCount > 0 ? period.subjectsCount : '' }}</span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_period_edit', {'id': period.id}) }}"><i data-feather="edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
