{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="card position-absolute top-50 start-50 translate-middle shadow w-35">
        <h5 class="card-header p-3 text-bg-dark">Sign into your account</h5>
        <div class="p-2 text-bg-light card-body" >    
            <div class="p-1">
                <label for="inputEmail" class="h6">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="p-1">
                <label for="inputPassword" class="h6">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <div class="pt-2 p-1" text-align: right">
            <button class="btn btn-md btn-primary w-100" type="submit">
                Sign in
            </button>
            </div>
        </div>
    </div>
</form>


{% endblock %}
