{% extends 'menu-layout.html.twig' %}

{% block title %}Attendance history{% endblock %}
{% block search %}
    {% include 'search.html.twig' %}
{% endblock %}
{% block contents %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Student</th>
            <th>Date</th>
            <th>Status</th>
            <th>Comment</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.id }}</td>
                <td>{{ attendance.student_email }}</td>
                <td>{{ attendance.date ? attendance.date|date('Y-m-d') : '' }}</td>
                <td>
                    {% if attendance.status == 1 %}
                        <span class="badge text-bg-success">Present</span>
                    {% elseif  attendance.status == 2 %}
                        <span class="badge text-bg-danger">Absent</span>

                    {% elseif  attendance.status == 3 %}
                        <span class="badge text-bg-secondary">Excused</span>
                    {% else %}
                    {% endif %}
                </td>
                <td>{{ attendance.comment }}</td>
                <td>
                    <a href="{{ path('teacher_attendance_show', {'id': attendance.id}) }}">show</a>
                    <a href="{{ path('teacher_attendance_edit', {'id': attendance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(attendances) }}
    </div>

{% endblock %}
