{% extends 'menu-layout.html.twig' %}

{% block title %}Attendance History{% endblock %}
{% block search %}
    {% include 'search.html.twig' %}
{% endblock %}
{% block contents %}
    <style>
		#search_filter_form_search {
			width: 100% !important;
		}
		.app-search-cancel {
			right: 30px!important;
		}
    </style>
    <table class="table table-sm table-hover">
        <thead>
        <tr class='table-primary'>
            <th>{{ knp_pagination_sortable(attendances, 'Id', 'id') }}</th>
            <th>{{ knp_pagination_sortable(attendances, 'Student Email', 'student_email') }}</th>
            <th>{{ knp_pagination_sortable(attendances, 'Student', 'student_fullname') }}</th>
            <th>{{ knp_pagination_sortable(attendances, 'Date', 'date') }}</th>
            <th>{{ knp_pagination_sortable(attendances, 'Status', 'status') }}</th>
            <th>{{ knp_pagination_sortable(attendances, 'Comment', 'comment') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr ondblclick="showData({{ attendance.id }},'teacherattendancehistory')">
                <td>{{ attendance.id }}</td>
                <td>{{ attendance.student_email }}</td>
                <td>{{ attendance.student_fullname }}</td>
                <td>{{ attendance.date ? attendance.date|date('Y-m-d') : '' }}</td>
                <td>
                    {% if attendance.status == 1 %}
                        <span class="badge text-bg-success">Present</span>
                    {% elseif  attendance.status == 2 %}
                        <span class="badge text-bg-danger">Absent</span>

                    {% elseif  attendance.status == 3 %}
                        <span class="badge text-bg-secondary">Excused</span>
                    {% else %}
                    {% endif %}
                </td>
                <td>{{ attendance.comment }}</td>
                <td>
                    {# <a href="{{ path('teacher_attendance_show', {'id': attendance.id}) }}">show</a>
                    <a href="{{ path('teacher_attendance_edit', {'id': attendance.id}) }}">edit</a> #}
                    <a href="{{ path('teacher_attendance_edit', {'id': attendance.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(attendances) }}
    </div>

{% endblock %}
