{% extends 'menu-layout.html.twig' %}

{% block title %}Attendance{% endblock %}

{% block actions %}
    <style>
		.app-page-header {
			flex-direction: column !important;
		}

		.app-actions {
			justify-content: center !important;
		}
    </style>
    {% if attendanceData %}
        {{ form_start(attendanceData,{action: path('teacher_attendance_index'), attr:{class:''}}) }}

        {{ form_widget(attendanceData) }}

        {{ form_end(attendanceData) }}
    {% endif %}
{% endblock %}

{% block contents %}
    <style>
		td {
			padding: 2px 7px !important;
		}

		#attendance_comment {
			width: 200px;
			min-height: 27px;
		}

		select#attendance_status {
			margin: 0;
			width: 150px;
			padding: 2px 4px;
			color: white;
		}

		select#attendance_status[data-chosen='1'] {
			background-color: rgba(var(--bs-success-rgb)) !important;
		}

		select#attendance_status[data-chosen='2'] {
			background-color: rgba(var(--bs-danger-rgb)) !important;
		}

		select#attendance_status[data-chosen='3'] {
			background-color: rgba(var(--bs-secondary-rgb)) !important;
		}

		select:focus {
			outline: none !important;
			box-shadow: none !important;
			border-color: var(--bs-border-color) !important;
		}
    </style>
    <script>
      function ready() {
        const statusList = document.querySelectorAll(".js-attendance-status")
        const commentList = document.querySelectorAll(".js-attendance-comment")


        const showError = (form) => {
          const icon = form.querySelector('.js-error')
          if (icon) {
            icon.classList.remove('hide')
          }
        }
        const filterOptions = (element) => {
          const options = element.querySelectorAll("option")
          for (let i = 0; i < options.length; i++) {
            const option = options[i];
            if (option.dataset.role === 'empty-value') {
              option.classList.add('hide')
            }
          }
        }

        const saveRequest = (form) => {
          if (form.classList.contains('js-attendance-form')) {
            fetch(form.action, {
              method: form.method,
              body: new FormData(form)
            })
                .then((value) => {
                  if (value.ok === true) {
                    const successIcon = form.querySelector('.js-success')
                    if (successIcon) {
                      successIcon.classList.remove('hide')

                      function hideSuccess() {
                        successIcon.classList.add('hide')
                      }

                      setTimeout(hideSuccess, 800);
                    }

                  } else {
                    showError(form)
                    console.error(value);
                  }
                })
                .catch((error) => {
                  showError(form)
                  console.error(error);
                });
          }
        }
        const onComment = (event) => {
          const form = event.target.parentElement
          saveRequest(form)
        }
        const onChange = (event) => {
          filterOptions(event.target)
          const form = event.target.parentElement
          event.target.dataset.chosen = event.target.value;
          if (form.classList.contains('js-attendance-form')) {
            const selectedValue = event.target.value
            const comment = form.querySelector('.js-attendance-comment')
            if (selectedValue === '2' || selectedValue === '3') {
              comment.classList.remove('hide')
            } else {
              if (selectedValue === '1') {//present
                comment.value = ''
              }
              comment.classList.add('hide')
            }
          }
          saveRequest(form)
        }
        statusList.forEach((status) => {
          status.onchange = onChange;
        });
        commentList.forEach((comment) => {
          comment.onblur = onComment;
        });
      }

      document.addEventListener("DOMContentLoaded", ready);
    </script>

    <table class="table">
        <thead>
        <tr>
            <th class="w-35">Student</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.vars.data.studentName }}</td>
                <td>
                    {% form_theme attendance 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(attendance,{action: path('teacher_attendance_add'), attr:{class:'d-flex js-attendance-form'}}) }}

                    {{ form_widget(attendance.status,{attr:{class:'js-attendance-status form-select form-select-sm'}}) }}
                    {{ form_widget(attendance.comment) }}
                    <span class="pt-1 px-1 text-success hide js-success ">
                        <i data-feather="check"></i>
                    </span>
                    <span class="pt-1 px-1 text-danger hide js-error">
                        <i data-feather="alert-circle"></i>
                    </span>
                    {{ form_end(attendance) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
