{% extends 'menu-layout.html.twig' %}

{% block title %}ATTENDANCE{% endblock %}

{% block actions %}
    {# <style>
      .app-page-header {
        flex-direction: column !important;
      }
      .app-actions {
        justify-content: center !important;
      }
    </style> #}
{% endblock %}

{% block contents %}
    <style>
		td {
			padding: 2px 7px !important;
		}

		select#attendance_status {
			margin: 0;
			padding: 2px 4px;
			color: white;
		}
		select#attendance_status[data-chosen='1'] {
			background-color: rgba(var(--bs-success-rgb))!important;
		}

		select#attendance_status[data-chosen='2'] {
			background-color: rgba(var(--bs-danger-rgb))!important;
		}

		select#attendance_status[data-chosen='3'] {
			background-color: rgba(var(--bs-secondary-rgb))!important;
		}

		select:focus {
			outline: none !important;
			box-shadow: none!important;
			border-color: var(--bs-border-color)!important;
		}
    </style>
    <script>
      function ready() {
        const statusList = document.querySelectorAll(".js-attendance-status")
        const showError = (form) => {
          const icon = form.querySelector('.js-error')
          if (icon) {
            icon.classList.remove('hide')
          }
        }
        const onChange = (event) => {
          event.target.dataset.chosen = event.target.value;
          const form = event.target.parentElement
          if (form.classList.contains('js-attendance-form')) {
            fetch(form.action, {
              method: form.method,
              body: new FormData(form)
            })
                .then((value) => {
                  if (value.ok === true) {
                    const successIcon = form.querySelector('.js-success')
                    if (successIcon) {
                      successIcon.classList.remove('hide')

                      function hideSuccess() {
                        successIcon.classList.add('hide')
                      }

                      setTimeout(hideSuccess, 800);
                    }

                  } else {
                    showError(form)
                    console.error(value);
                  }
                })
                .catch((error) => {
                  showError(form)
                  console.error(error);
                });
          }
        }
        statusList.forEach((status) => {
          status.onchange = onChange;
          status.dataset.chosen = status.value;
        });
      }

      document.addEventListener("DOMContentLoaded", ready);
    </script>

<div class='vstack gap-2'>
    {% if attendanceData %}
        {{ form_start(attendanceData,{action: path('teacher_attendance_index'), attr:{class:''}}) }}
            <div class='hstack gap-2' >
                <div class='form-floating col'>
                  {{ form_widget(attendanceData.intake) }}
                  {{ form_label(attendanceData.intake) }}
                </div>
                <div class='form-floating col'>
                  {{ form_widget(attendanceData.subject) }}
                  {{ form_label(attendanceData.subject) }}
                </div>
                <div class='form-floating'>
                  {{ form_widget(attendanceData.date) }}
                  {{ form_label(attendanceData.date) }}
                </div>
                <button class='btn btn-sm'><i class='text-success' style='height: 32px; width: 32px;' data-feather="search"></i></button>
            </div>
        {{ form_end(attendanceData) }}
    {% endif %}

    <table class="table table-sm table-striped">
        <thead>
        <tr class='table-primary'>  
            <th class="w-35">Student Email</th>
            <th class="w-50">Student Name</th>
            <th class="25">Attendance</th>
        </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.vars.data.studentEmail }}</td>
                <td>{{ attendance.vars.data.studentName }}</td>
                <td>
                    {% form_theme attendance 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(attendance,{action: path('teacher_attendance_add'), attr:{class:'hstack gap-2 js-attendance-form'}}) }}
                    {{ form_widget(attendance.status,{attr:{class:'js-attendance-status w-75 form-select form-select-sm'}}) }}
                      <span class="text-success hide js-success">
                          <i data-feather="check"></i>
                      </span>
                      <span class="text-danger hide js-error">
                          <i data-feather="alert-circle"></i>
                      </span>
                    {{ form_end(attendance) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
