{% extends 'menu-layout.html.twig' %}

{% block title %}My Attendance{% endblock %}

{% block contents %}

    <table class="table table-sm table-striped">
        <thead>
            <tr class='table-primary'>
                <th>Date</th>
                <th>Teacher</th>
                <th>Code</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.date ? attendance.date|date('Y-m-d') : '' }}</td>
                <td>{{ attendance.teacher.name ~' '~ attendance.teacher.surname}}</td>
                <td>{{ attendance.subject.code }}</td>
                <td>{{ attendance.subject.name }}</td>
                <td>
                    {% if attendance.status == 1 %}
                        <span class="badge text-bg-success">Present</span>
                    {% elseif  attendance.status == 2 %}
                        <span class="badge text-bg-danger">Absent</span>

                    {% elseif  attendance.status == 3 %}
                        <span class="badge text-bg-secondary">Excused</span>
                    {% else %}
                    {% endif %}
                </td>
                <td>{{ attendance.getComment() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
