{% extends 'menu-layout.html.twig' %}

{% block title %}Student Information{% endblock %}

{% block contents %}
    <div class="table-responsive">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th class="table-primary" scope="col" style="width: 100px">Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th class="table-primary" scope="col">Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th class="table-primary" scope="col">Name</th>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <th class="table-primary" scope="col">Surname</th>
                <td>{{ student.surname }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
    <a class="btn btn-sm btn-outline-dark"
    style="width: 5rem;"
            href="{{ path('admin_student_index') }}">Back
    </a>


{% endblock %}

{% block actions %}
    <a class="btn btn-sm btn-outline-dark"
        style="width: 5rem;"
        href="{{ path('admin_student_edit', {'id': student.id}) }}">Edit
    </a>
    {{ include('admin/student/_delete_form.html.twig') }}
{% endblock %}
