{% extends 'menu-layout.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block contents %}

    <div class="container-fluid vstack gap-3">
        {#    TODO: #}
        <div class="hstack gap-2">
            <a class="text-decoration-none text-dark col" href='#' >
                <div class="card col shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="user-check"></i>Administrators</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ administrators }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_teacher_index') }}>
                <div class="card shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="book"></i>Teachers</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ teachers }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_student_index') }}>
                <div class="card shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="users"></i>Students</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ students }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_institution_index') }}>
                <div class="card shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="package"></i>Institutions</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ institutions }}</div>
                </div>
            </a>
        </div>
        <div class="hstack gap-2">
            <a class="text-decoration-none text-dark col" href={{ path('admin_course_index') }}>
                <div class="card col shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="sidebar"></i>Courses</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ courses }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_subject_index') }}>
                <div class="card col shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="file-text"></i>Subjects</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ subjects }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_intake_index') }}>
                <div class="card col shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="calendar"></i>Intakes</div>
                <div class="fs-1 d-flex justify-content-center p-3">{{ intakes }}</div>
                </div>
            </a>
            <a class="text-decoration-none text-dark col" href={{ path('admin_period_index') }}>
                <div class="card col shadow-sm">
                    <div class="card-header text-white bg-success icon-link"><i data-feather="columns"></i>Periods</div>
                    <div class="fs-1 d-flex justify-content-center p-3">{{ periods }}</div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
