{% extends 'menu-layout.html.twig' %}

{% block title %}Subjects{% endblock %}
{% block search %}
    {% include 'search.html.twig' %}
{% endblock %}
{% block actions %}
    <div class='hstack gap-2'>
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_subject_new') }}">Create New</a>
    </div>
{% endblock %}

{% block contents %}

    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>{{ knp_pagination_sortable(subjects, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(subjects, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(subjects, 'Code', 'code') }}</th>
                <th>{{ knp_pagination_sortable(subjects, 'Course', 'course') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr ondblclick="showData({{ subject.id }}, 'subject')" class="app-pointer">
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.code }}</td>
                <td>{{ subject.course }}</td>
                <td>
                    <a href="{{ path('admin_subject_edit', {'id': subject.id}) }}"><i data-feather="edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(subjects) }}
    </div>

{% endblock %}
