{% extends 'menu-layout.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block actions %}
    <div class='hstack gap-2'>
        <input type='text' class='input-group-sm' placeholder='Search' />
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_teacher_new') }}">Create New</a>
    </div>
{% endblock %}

{% block contents %}
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary"> 
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr onclick="showData({{ teacher.id }}, 'teacher' )">
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.name ~ ' ' ~ teacher.surname  }}</td>
                <td>
                    <a href="{{ path('admin_teacher_to_subject_to_intake_index', {'teacherId': teacher.id}) }}">Subjects</a>
                    <a href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
