{% extends 'menu-layout.html.twig' %}

{% block title %}Teachers{% endblock %}
{% block search %}
    {% include 'search.html.twig' %}
{% endblock %}
{% block actions %}
    <div class='hstack gap-2'>
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_teacher_new') }}">Create New</a>
    </div>
{% endblock %}

{% block contents %}
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>{{ knp_pagination_sortable(teachers, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(teachers, 'Email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(teachers, 'Name', 'full_name') }}</th>
                <th>{{ knp_pagination_sortable(teachers, 'Subjects', 'subjectsCount') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr ondblclick="showData({{ teacher.id }}, 'teacher' )" class="app-pointer">
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.full_name  }}</td>
                <td>
                    <a  class="icon-link" href="{{ path('admin_teacher_to_subject_to_intake_index', {'teacherId': teacher.id}) }}">
                        <i data-feather="file-plus"></i>
                        <span class="badge badge-pill text-bg-primary ">{{ teacher.subjectsCount > 0 ? teacher.subjectsCount : '' }}</span>
                    </a>                
                <td>
                    <a href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(teachers) }}
    </div>


{% endblock %}
