{% extends 'menu-layout.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_teacher_new') }}">Create new</a>
{% endblock %}

{% block contents %}
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary"> 
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr onclick="showTeacher({{ teacher.id }})">
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.surname }}</td>
                <td>
                    <a href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function showTeacher(teacherId) {
            // Construct the URL using the teacher ID
            var url = "{{ path('admin_teacher_show', {'id': 'TEACHER_ID'}) }}".replace('TEACHER_ID', teacherId);
            
            // Redirect the user to the edit page
            window.location.href = url;
        }
    </script>

{% endblock %}
