{% extends 'menu-layout.html.twig' %}

{% block title %}Teachers{% endblock %}

{% block actions %}
    <div class='hstack gap-2'>
        <input type='text' class='input-group-sm' placeholder='Search' />
        <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_teacher_new') }}">Create New</a>
    </div>
{% endblock %}

{% block contents %}
    <table class="table table-sm table-hover">
        <thead>
            <tr class="table-primary"> 
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Subjects</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr ondblclick="showData({{ teacher.id }}, 'teacher' )" class="app-pointer">
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.name ~ ' ' ~ teacher.surname  }}</td>         
                <td>
                    <a  class="icon-link" href="{{ path('admin_teacher_to_subject_to_intake_index', {'teacherId': teacher.id}) }}">
                        <i data-feather="file-plus"></i>
                        <span class="badge badge-pill text-bg-primary ">{{ teacher.getTeacherToSubjectToIntake().count([]) > 0 ? teacher.getTeacherToSubjectToIntake().count([]) : '' }}</span>
                    </a>                
                <td>
                    <a href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
