{% extends 'menu-layout.html.twig' %}

{% block title %}Teacher Information{% endblock %}

{% block contents %}

    <table class="table">
        <tbody>
            <tr>
                <th class='bg-light col-2'>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th class='bg-light'>Name</th>
                <td class='h4'>{{ teacher.name ~ ' ' ~ teacher.surname }}</td>
            </tr>
            <tr>
                <th class='bg-light'>Email</th>
                <td>{{ teacher.email }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark" 
        href="{{ path('admin_teacher_index') }}">Back</a>
    <a class="btn custom-btn btn-sm btn-outline-dark"
        href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">Edit</a>
    {{ include('admin/teacher/_delete_form.html.twig') }}
{% endblock %}