{% extends 'menu-layout.html.twig' %}

{% block title %}Teacher Information{% endblock %}

{% block contents %}
    <table class="table table-sm">
        <tbody>
            <tr>
                <th class="table-primary" scope="col" style="width: 100px">Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th class="table-primary" >Email</th>
                <td>{{ teacher.email }}</td>
            </tr>

            <tr>
                <th class="table-primary" >Name</th>
                <td>{{ teacher.name }}</td>
            </tr>
            <tr>
                <th class="table-primary" >Surname</th>
                <td>{{ teacher.surname }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-sm btn-outline-dark" style="width: 5rem;" href="{{ path('admin_teacher_index') }}">Back</a>

{% endblock %}

{% block actions %}
    <a class="btn btn-sm btn-outline-dark"
        style="width: 5rem;"
        href="{{ path('admin_teacher_edit', {'id': teacher.id}) }}">Edit
    </a>
    {{ include('admin/teacher/_delete_form.html.twig') }}
{% endblock %}