{% extends 'menu-layout.html.twig' %}

{% block title %}Institutions{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark" href="{{ path('admin_institution_new') }}">Create New</a>
{% endblock %}

{% block contents %}

    <table class="table table-responsive table-sm table-hover">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for institution in institutions %}
            <tr onclick="showData({{ institution.id }}, 'institution')">
                <td>{{ institution.id }}</td>
                <td>{{ institution.name }}</td>
                <td>{{ institution.location }}</td>
                <td>
                    <a href="{{ path('admin_institution_edit', {'id': institution.id}) }}">
                        <i data-feather="edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
