{% extends 'menu-layout.html.twig' %}

{% block title %}Institution index{% endblock %}

{% block contents %}
    <h1>Institution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for institution in institutions %}
            <tr>
                <td>{{ institution.id }}</td>
                <td>{{ institution.name }}</td>
                <td>{{ institution.location }}</td>
                <td>
                    <a href="{{ path('admin_institution_show', {'id': institution.id}) }}">show</a>
                    <a href="{{ path('admin_institution_edit', {'id': institution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_institution_new') }}">Create new</a>
{% endblock %}
