{% extends 'menu-layout.html.twig' %}

{% block title %}Institution Information{% endblock %}

{% block contents %}
    <div class="w-50 card shadow p-0">
        <h5 class="card-header">{{ institution.name }}</h5>
        <div class="p-2">
            <table class="table table-responsive table-sm">
                <tbody>
                    <tr>
                        <th class="table-primary w-25">Id</th>
                        <td>{{ institution.id }}</td>
                    </tr>
                    <tr>
                        <th class="table-primary" >Name</th>
                        <td>{{ institution.name }}</td>
                    </tr>
                    <tr>
                        <th class="table-primary" >Location</th>
                        <td>{{ institution.location }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  

{% endblock %}

{% block actions %}
    <a class="btn custom-btn btn-sm btn-outline-dark"
        href="{{ path('admin_institution_index') }}">Back
    </a>
    <a class="btn custom-btn btn-sm btn-outline-dark"
        href="{{ path('admin_institution_edit', {'id': institution.id}) }}">Edit
    </a>
    {{ include('admin/institution/_delete_form.html.twig') }}
{% endblock %}